# This notebook calculates the percent changes in voter turnout in each ward.

In [1]:
import pandas as pd

In [2]:
df_04_08 = pd.read_csv("mil_cnty_04_08.csv", usecols = ["GEOID", "TURNOUT04", "TURNOUT08"])
df_04_08

              GEOID  TURNOUT04  TURNOUT08
0    55079054500001   0.896815   0.824204
1    55079054500002   0.943038   0.921941
2    55079054500003   0.715909   0.757576
3    55079054500004   0.862210   0.879945
4    55079054500005   0.969253   0.986823
..              ...        ...        ...
565  55079867000008   0.828025   0.889172
566  55079867000009   0.828263   0.873405
567  55079867000010   0.837073   0.862439
568  55079867000011   0.945455   0.909091
569  55079867000012   0.970149   1.011727

[570 rows x 3 columns]

In [3]:
df_12_20 = pd.read_csv("mil_cnty_12_20.csv", usecols = ["GEOID", "PCTBLK", "PCTHIS", "PCTASI", "TURNOUT12", "TURNOUT16", "TURNOUT20"])
df_12_20

,GEOID,TURNOUT12,TURNOUT16,TURNOUT20,PCTBLK,PCTHIS,PCTASI
0,55079054500001,0.757962,0.752866,0.800000,0.057325,0.024204,0.063694
1,55079054500002,0.926160,0.981013,1.044304,0.006329,0.027426,0.033755
2,55079054500003,0.761364,0.746212,0.797348,0.051136,0.022727,0.024621
3,55079054500004,0.922237,0.944065,1.034106,0.027285,0.023192,0.025921
4,55079054500005,0.929722,0.966325,1.033675,0.027818,0.017570,0.038067
...,...,...,...,...,...,...,...
565,55079867000008,0.629299,0.914650,1.021656,0.011465,0.030573,0.035669
566,55079867000009,1.102061,0.763494,0.871443,0.072620,0.030422,0.084396
567,55079867000010,1.173659,0.940488,1.016585,0.008780,0.011707,0.045854
568,55079867000011,0.529870,0.832468,0.944156,0.014286,0.020779,0.051948
569,55079867000012,1.020256,0.977612,1.062900,0.014925,0.008529,0.028785

In [4]:
df = df_04_08
df["TURNOUT12"] = df_12_20.TURNOUT12
df["TURNOUT16"] = df_12_20.TURNOUT16
df["TURNOUT20"] = df_12_20.TURNOUT20
df["PCTBLK"] = df_12_20.PCTBLK
df

,GEOID,TURNOUT04,TURNOUT08,TURNOUT12,TURNOUT16,TURNOUT20,PCTBLK
0,55079054500001,0.896815,0.824204,0.757962,0.752866,0.800000,0.057325
1,55079054500002,0.943038,0.921941,0.926160,0.981013,1.044304,0.006329
2,55079054500003,0.715909,0.757576,0.761364,0.746212,0.797348,0.051136
3,55079054500004,0.862210,0.879945,0.922237,0.944065,1.034106,0.027285
4,55079054500005,0.969253,0.986823,0.929722,0.966325,1.033675,0.027818
...,...,...,...,...,...,...,...
565,55079867000008,0.828025,0.889172,0.629299,0.914650,1.021656,0.011465
566,55079867000009,0.828263,0.873405,1.102061,0.763494,0.871443,0.072620
567,55079867000010,0.837073,0.862439,1.173659,0.940488,1.016585,0.008780
568,55079867000011,0.945455,0.909091,0.529870,0.832468,0.944156,0.014286
569,55079867000012,0.970149,1.011727,1.020256,0.977612,1.062900,0.014925

In [5]:
df["CHANGE0408"] = df.TURNOUT04 - df.TURNOUT08
df["CHANGE0812"] = df.TURNOUT08 - df.TURNOUT12
df["CHANGE1216"] = df.TURNOUT12 - df.TURNOUT16
df["CHANGE1620"] = df.TURNOUT16 - df.TURNOUT20
df

,GEOID,TURNOUT04,TURNOUT08,TURNOUT12,TURNOUT16,TURNOUT20,PCTBLK,CHANGE0408,CHANGE0812,CHANGE1216,CHANGE1620
0,55079054500001,0.896815,0.824204,0.757962,0.752866,0.800000,0.057325,0.072611,0.066242,0.005096,-0.047134
1,55079054500002,0.943038,0.921941,0.926160,0.981013,1.044304,0.006329,0.021097,-0.004219,-0.054852,-0.063291
2,55079054500003,0.715909,0.757576,0.761364,0.746212,0.797348,0.051136,-0.041667,-0.003788,0.015152,-0.051136
3,55079054500004,0.862210,0.879945,0.922237,0.944065,1.034106,0.027285,-0.017735,-0.042292,-0.021828,-0.090041
4,55079054500005,0.969253,0.986823,0.929722,0.966325,1.033675,0.027818,-0.017570,0.057101,-0.036603,-0.067350
...,...,...,...,...,...,...,...,...,...,...,...
565,55079867000008,0.828025,0.889172,0.629299,0.914650,1.021656,0.011465,-0.061146,0.259873,-0.285350,-0.107006
566,55079867000009,0.828263,0.873405,1.102061,0.763494,0.871443,0.072620,-0.045142,-0.228656,0.338567,-0.107949
567,55079867000010,0.837073,0.862439,1.173659,0.940488,1.016585,0.008780,-0.025366,-0.311220,0.233171,-0.076098
568,55079867000011,0.945455,0.909091,0.529870,0.832468,0.944156,0.014286,0.036364,0.379221,-0.302597,-0.111688
569,55079867000012,0.970149,1.011727,1.020256,0.977612,1.062900,0.014925,-0.041578,-0.008529,0.042644,-0.085288

In [6]:
df["CHANGE0416"] = df.TURNOUT04 - df.TURNOUT16
df["CHANGE0420"] = df.TURNOUT04 - df.TURNOUT20
df

,GEOID,TURNOUT04,TURNOUT08,TURNOUT12,TURNOUT16,TURNOUT20,PCTBLK,CHANGE0408,CHANGE0812,CHANGE1216,CHANGE1620,CHANGE0416,CHANGE0420
0,55079054500001,0.896815,0.824204,0.757962,0.752866,0.800000,0.057325,0.072611,0.066242,0.005096,-0.047134,0.143949,0.096815
1,55079054500002,0.943038,0.921941,0.926160,0.981013,1.044304,0.006329,0.021097,-0.004219,-0.054852,-0.063291,-0.037975,-0.101266
2,55079054500003,0.715909,0.757576,0.761364,0.746212,0.797348,0.051136,-0.041667,-0.003788,0.015152,-0.051136,-0.030303,-0.081439
3,55079054500004,0.862210,0.879945,0.922237,0.944065,1.034106,0.027285,-0.017735,-0.042292,-0.021828,-0.090041,-0.081855,-0.171896
4,55079054500005,0.969253,0.986823,0.929722,0.966325,1.033675,0.027818,-0.017570,0.057101,-0.036603,-0.067350,0.002928,-0.064422
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,55079867000008,0.828025,0.889172,0.629299,0.914650,1.021656,0.011465,-0.061146,0.259873,-0.285350,-0.107006,-0.086624,-0.193631
566,55079867000009,0.828263,0.873405,1.102061,0.763494,0.871443,0.072620,-0.045142,-0.228656,0.338567,-0.107949,0.064769,-0.043180
567,55079867000010,0.837073,0.862439,1.173659,0.940488,1.016585,0.008780,-0.025366,-0.311220,0.233171,-0.076098,-0.103415,-0.179512
568,55079867000011,0.945455,0.909091,0.529870,0.832468,0.944156,0.014286,0.036364,0.379221,-0.302597,-0.111688,0.112987,0.001299
569,55079867000012,0.970149,1.011727,1.020256,0.977612,1.062900,0.014925,-0.041578,-0.008529,0.042644,-0.085288,-0.007463,-0.092751

In [7]:
df.to_csv("turnout_change.csv", index = False)